.newcategory-slider {
    height: 100%;
    width: 100%;
    text-align: start;
}

.newcategory-page {
    height: 100%;
    width: 100%;
}

.newcategory-tabbar {
    --border: none;
}

.newcategory-fab {
    bottom: 74px;
}