/* .iconcolorpicker-input{
    width: 1px;
    height: 1px;
    opacity: 0;
}

.iconcolorpicker-picker{
    width: 47px;
    height: 47px;
    border-radius: 100%;
} */

.customiconcategory {
    text-align: start;
}

.customiconcategory-iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20%;
    width: 100%;
    margin-bottom: 10px;
}

.customiconcategory-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.customiconcategory-preview > h1 {
    margin: 0;
    font-size: 42px;
}

.customiconcategory-colorpicker {
    width: 100%;
    background-color: transparent;
    border: 2px solid #4F4F4F;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 8px;
}

.customiconcategory-colorpicker span:nth-child(2) {
    float: right;
}

.customiconcategory-type {
    width: 100%;
    background-color: transparent;
    border: 2px solid #4F4F4F;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 8px;
}


.customiconcategory-type span:nth-child(2) {
    float: right;
    margin-top: 3px;
}