/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** url-dark-colors **/
  --ion-color-urlDark: #2E2E2E;
  --ion-color-urlDark-rgb: 46, 46, 46;
  --ion-color-urlDark-contrast: #ffffff;
  --ion-color-urlDark-contrast-rgb: 255, 255, 255;
  --ion-color-urlDark-shade: #000000;
  --ion-color-urlDark-tint: #1a1a1a;

  /** url-dark-toolbar-colors **/
  --ion-color-urlDarkToolbar: #121212;

  /** default-colors **/
  --ion-background-color: #1B1B1B;
	--ion-background-color-rgb: 27, 27, 27;

	--ion-text-color: #FFFFFF;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #262626;
	--ion-color-step-100: #323232;
	--ion-color-step-150: #3d3d3d;
	--ion-color-step-200: #494949;
	--ion-color-step-250: #545454;
	--ion-color-step-300: #5f5f5f;
	--ion-color-step-350: #6b6b6b;
	--ion-color-step-400: #767676;
	--ion-color-step-450: #828282;
	--ion-color-step-500: #8d8d8d;
	--ion-color-step-550: #989898;
	--ion-color-step-600: #a4a4a4;
	--ion-color-step-650: #afafaf;
	--ion-color-step-700: #bbbbbb;
	--ion-color-step-750: #c6c6c6;
	--ion-color-step-800: #d1d1d1;
	--ion-color-step-850: #dddddd;
	--ion-color-step-900: #e8e8e8;
	--ion-color-step-950: #f4f4f4;
}

.ion-color-urlDark {
  --ion-color-base: var(--ion-color-urlDark);
  --ion-color-base-rgb: var(--ion-color-urlDark-rgb);
  --ion-color-contrast: var(--ion-color-urlDark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-urlDark-contrast-rgb);
  --ion-color-shade: var(--ion-color-urlDark-shade);
  --ion-color-tint: var(--ion-color-urlDark-tint);
}

.ion-color-urlDarkToolbar {
  --ion-color-base: var(--ion-color-urlDarkToolbar);
}

/* ======================== */

.fab{
  --background: linear-gradient(189.12deg, #74D6EB 4.11%, rgba(0, 255, 133, 0.99) 95.05%);
  --color: black;
}

.p-10 {
  box-sizing: border-box;
  padding: 10px;
}

.p-20 {
  box-sizing: border-box;
  padding: 20px;
}

.buttonGray {
  --background: #2E2E2E;
}